asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.5
idna==3.4
numpy==1.25.2
packaging==23.1
pandas==2.1.0
plotly==5.17.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tenacity==8.2.3
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
